    .header{
        background-color: #2f3640;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*border: 1px solid red;*/
    }

    .notfound{
        background-color: #2f3640;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        widows: 100%;
    }

    .footer{
        background-color: #2f3640;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*border: 1px solid red;*/
    }

    

    