   @import url("./dataBox.css"); /*Table Container Style*/
   @import url("./table.css");  /*Table Style*/
   @import url("./GDialogModal.css"); /*GDoalogModal Style*/
   
   .header{
        background-color: #2f3640;
        color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        /*border: 1px solid red;*/
    }

    .notfound{
        background-color: #c23616;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        widows: 100%;
    }

    .footer{
        background-color: #2f3640;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*border: 1px solid red;*/
    }

/*************************SIDEBAR-DESIGN*************************/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
   /*  border: 2px solid #c23616; */
    transition: all 0.5s ease;
    /* background-color: #2f3640; */
}    
/************************HERE-IS-THE-SECTION-BEGIN************************/
.content{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: calc(100% -250px);
    margin-left:250px;
    transition: all 0.5s ease;
   /*  border: 2px dotted green; */
   
}
/*************************COLLAPSE-SIDE-BAR*************************/
body.collapse .sidebar {
    left: -250px;
}
body.collapse .content {
    margin-left: 0px;
   
}
    